.main{
    margin:30px;
}
.description{
height: 200px;
}
body{
    background-color: rgb(223, 227, 222);
}
.btn-publish{
    float:right ;
    margin-bottom: 15px;
}
.img-redix{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
