<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>小苏社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/ll.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body style="background-color:#efefef">
<!--导航条-->
<div th:replace=" thymeleafHtml :: header"></div>
<!--正文-->
<div layout:fragment="content">

                <div class="jumbotron" align="center">
                    <h1>出错啦！！！</h1>
                    <p th:text="${message}">页面逃跑了，是否刷新试试</p>
                    <p><a class="btn btn-primary btn-lg" href="/" role="button">刷新主页</a></p>
                </div>


    </div>

</div>
</body>

</html>