<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>小苏社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/ll.css">
    <script href="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<!--导航条-->
<div th:replace=" thymeleafHtml :: header"></div>
<!--正文-->


<div layout:fragment="content">
    <div class="container-fluid main">
        <div class="row ">


            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="background-color: white">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
                <hr>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded img-redix" src="https://avatars3.githubusercontent.com/u/49639313?v=4" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">怎么学会spring boot 开发</h4>
                        啦啦啦啦啦啦啦<br>
                        <span class="text-desc">2个回复 31次浏览 1小时前</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background-color:white ">
                <h3>热门话题</h3>

            </div>
        </div>
    </div>

</div>


</body>
</html>